
# User Tools

vessel/vessel.*
corpse/corpse.*
action/action.*
action/memory.*
public/public.*

# Core Tools

!vessel/vessel.ghost
!vessel/vessel.rotonde
!vessel/vessel.maeve
!vessel/vessel.lobby
!corpse/corpse.base
!corpse/corpse.http
!public/public.lobby
!action/action.tweet

!action/action.document.rb
!action/action.help.rb
!action/action.look.rb
!action/action.tweet.rb

# Private

secret.*