body {}
yu { display: block; font-family: 'input_mono_regular'; font-size:11px; line-height: 30px; vertical-align: top}
list { display: block }
ln { display: block;}
ln i { color:#999; }
hl { line-height: 29px; font-family: 'input_mono_medium'; display: block; border-bottom:1px solid black; }
textarea { background:none; padding:px 0px; line-height: 15px; overflow: hidden}
b { font-weight: normal; font-family: 'input_mono_medium'}
#lobby { width:calc(100vw - 60px); height:calc(100vh - 60px);background:black; margin:30px auto 0px auto; position:relative; border-radius: 2px; overflow: hidden}
#grid { background-image:url(../media/graphics/grid.svg); width:100%; height:100%; background-position: 15px 15px; position:absolute; opacity: 0.5}
#lobby { background-image:url(../media/images/wallpaper2.jpg); background-size:cover; background-position: center center; background-color: #efefef}

#commander { background:white; height:30px; width:30px; position:absolute; bottom:0px; width:100%; vertical-align: top; border-top:1px solid black; z-index:9000; }
#commander > .icon { display: inline-block; background-size:20px 20px; background-position: center center; background-repeat: no-repeat; background-image:url(../media/icons/nataniev.svg); position: absolute; top:0px;}
#commander > .icon.twitter { background-image:url(../media/icons/twitter.png);  }
#commander > .icon.player { background-image:url(../media/icons/player.svg);  }
#commander > input { display: inline-block; line-height: 20px; padding:5px 0px; position:absolute;top:0px;left:30px; width:calc(100vw - 90px); font-size:11px; z-index:9002; background:transparent;}
#commander > .hint { position: absolute; top:0px; z-index: 9001; left:30px; line-height: 20px; padding:5px 0px;}
#commander > .hint .input { color:white; display: inline-block; margin-right: 5px }
#commander > .hint .application { font-family: 'input_mono_medium'; color:#999; }
#commander > .hint .method { font-family: 'input_mono_medium' }
#commander > .hint .method.global { color:#999; }
#commander > .hint .param { color:#999; }
#commander > .size { position: absolute; right:30px; top:0px;line-height: 20px; padding:5px 0px; color:#999;}
#commander > .widgets { text-align: right; position: relative; z-index:9003;float:right; }
#commander > .widgets t { margin-left:15px; color:#999; }
#commander > .widgets t.toggle { color:#000; }
#commander > .widgets t.toggle:hover { text-decoration: underline; cursor: pointer;  }
#commander > .notification { text-align: right; position: relative; z-index:9003;float:right; }
#commander > .browser { display: none;
background: white; position: absolute; bottom: 31px; left: 0px; width: 100%; max-height: 119px; color: black; padding:15px 0px; padding-left:30px; overflow:hidden;}

.icon { width:30px; height:30px; }
.full { width:100%; height:calc(100% - 60px);}

ln.half { line-height: 15px }

.app { display: block; width:30px; height:30px; background:RGBA(255,255,255,1); position: absolute; top:60px; left:60px; padding:30px; color:black; overflow: hidden; z-index:20;}
.app .wrapper { overflow: hidden; height:100%; overflow: hidden;height: 100%}
.app.selected { z-index:8001; }
.app.dragged { background-color:RGBA(255,255,255,0.3) !important; z-index:8002;}
.app.hidden { display: none }
.app.ghost { background:none; color:black; z-index:10; }

.app.noir { background: black; color:white; }
.app.noir hl { border-bottom:1px solid white; }

.di { display: inline-block; }
.db { display: block; }

.lh15 { line-height: 15px }
.lh30 { line-height: 30px }

.w1 { width:30px; }
.w2 { width:60px; }
.w4 { width:120px; }
.w6 { width:180px; }
.w7 { width:210px; }
.w18 { width:540px; }

.wf { width: 100% }
.wf_4 { width: calc(100% - 120px) }
.wf_6 { width: calc(100% - 180px) }
.wf_7 { width: calc(100% - 210px) }

.hf_1 { height: calc(100% - 30px) }
.hf_2 { height: calc(100% - 60px) }
.hf_3 { height: calc(100% - 90px) }
.hf_4 { height: calc(100% - 120px) }

/* Foreground */

.fu { text-decoration: underline; }
.f0 { color: #000; }
.f1 { color: #111; }
.f2 { color: #222; }
.f3 { color: #333; }
.f4 { color: #444; }
.f5 { color: #555; }
.f6 { color: #666; }
.f7 { color: #777; }
.f8 { color: #888; }
.f9 { color: #999; }
.ff { color:white; }
.fc { color:#ccc; }
.f_audio { color:#72dec2; }
.f_visual { color:#999; }
.f_research { color:#333;  }
.f_misc { text-decoration: underline;  }
.f_red { color:#f00; }

/* Background */

.b_ { background: transparent; }
.b0 { background: #000 }
.bf { background: #fff }
.b9 { background: #999; }
.bc { background: #ccc; }
.b_audio { background:#72dec2; }
.b_visual { background:#000; }
.b_research { background:#999;  }
.b_misc { background:#f00;  }

/* Strokes */

.sb { border-bottom: 1px solid black; }
.sr { border-bottom: 1px solid black; }

/* Margins */

.mb { margin-bottom:30px; }
.mb30 { margin-bottom:30px; }
.ml { margin-left:30px; }
.ml30 { margin-left:30px; }
.ml45 { margin-left:45px; }
.ml90 { margin-left:90px; }
.ml120 { margin-left:120px; }
.ml150 { margin-left:150px; }
.mr30 { margin-right: 30px }
.mt { margin-top: 30px }
.mb15 { margin-bottom:15px; }

/* Positioning */

.pa { position: absolute; }
.pb { bottom:0px; }
.pt { top:0px; }
.pl { left:0px; }
.pt30 { top:30px; }
.pl30 { top:30px; }
.pl5 { left:150px; }

.at { top:0px; }
.al { left:0px; }
.ab { bottom:0px; }

.pdl { padding-left:30px; }


.noir .sr { border-right: 1px solid #555; }
.noir .sl { border-left: 1px solid #555; }




